.breadcrumb {
    padding-top: 60px;
    padding-bottom: 60px;
}

.breadcrumb__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;

    color: #303030;

    transition: all 0.2s ease-in;
}

.breadcrumb__link:hover {
    opacity: 0.8;
}

.breadcrumb__link--active {
    color: #DDAA21;
}

@media screen and (max-width: 999px) {
    .breadcrumb {
        padding-top: 40px;
        padding-bottom: 40px;        
    }

    .breadcrumb__link {
        font-size: 14px;
    }
}