.details {
    display: grid;
    gap: 40px;

    padding-top: 80px;
    padding-bottom: 80px;
}

.details__title {
    font-family: 'Bebas Neue Cyrillic';
    font-size: 64px;
    font-weight: 400;
    line-height: 1;

    color: #00583A;
}

.details__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.details__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 460px;
    height: 325px;
    padding: 20px;
}

.details__strong {
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;

    color: #FFF;
}

@media screen and (max-width: 999px) { 
    .details {
        padding-top: 80px;
        padding-bottom: 80px;

        gap: 20px;
    }

    
    .details__title  {
        text-align: center;
        font-size: 48px;
    }

    .details__cards {
        justify-content: center;
        gap: 20px;
    }

    .details__card {
        width: 320px;
    }

    .details__strong {
        font-size: 24px;
        line-height: 29.26px;
    }
}