@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  /* max-width: 100%; */
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 130px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 34px;
}

.burger-menu {
    display: flex;
    align-items: center;
}

.header__wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__phone strong {
    font-size: 24px;
    line-height: 29.26px;
    font-weight: 600;
    color: #303030;
}

.header__socials {
    display: flex;
    align-items: center;
    gap: 22px;
}

.lang__label {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 90%;
    top: 36px;
    transform: translate(-50%, 0);
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
}

.lang__select {
    opacity: 0;
}

@media screen and (max-width:1024px){ 
    .header__wrapper img{
      width: 27px;
    }
  
    .header__wrapper .number{
      font-size: 17px;
    }
  
    .header__phone{
      width: 257px;
      margin-left: 48px;
    }
  
    .header__phone strong{
      font-size: 17px;
    }
  
    .header__logo{
      width: 215px;
    }
    
    .header__card{
      width: 700px;
      height: 370px;
      margin: 40px 0 0 62px;
      background-color: #FFFFFF;
      border-radius: 20px;
    }
  
  
    header .header__flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 50px;
    }
  
  }

  @media screen and (max-width:768px){
    .header__logo{
      width: 232px;
    }
  
  
    .header__wrapper .number {
      display: none;
    }
  
    .header__wrapper img{
      width: 50px;
    }
  
    .header .header__wrapper{
      gap: 0px;
    }
  
    .header__card{
      margin: 40px 0 0 31px;
    }
  
    .header .header__flex{
      padding: 30px 20px;
    }
    
    .lang__label{
        display: none;
    }
    
    .phone_img{
        display: none;
    }


    .lang__select{
        display: none;
    }
  
  
  }
  
  @media screen and (max-width:425px){
    .header__social{
      display: none;
    }

    .header__card{
      width: 380px;
      height: 580px;
      margin: 40px 0 0 28px;
    }

    .lang__label{
        display: none;
    }
    
    .phone_img{
        display: none;
    }


    .lang__select{
        display: none;
    }

    .form-group__lang{
      display: none;
    }
  
  
  
  }

  @media screen and (max-width:375px){
    
    .header__card {
      width: 364px;
      height: 580px;
      margin: 40px 0 0 7px;
    }
    
    .lang__label{
        display: none;
    }
    
    .phone_img{
        display: none;
    }


    .lang__select{
        display: none;
    }

    .form-group__lang{
      display: none;
    }
  
  }


  .info_back_card{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 40px;
  }
  
  
  .back__card h1{
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 600;
    
  }

  .info__text{
    color: white;
    border-left: 20px solid #DDAA21;
    margin: 80px 0 0 250px;
    font-size: 96px;
  }
  
  
  