.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:30;
	overflow: hidden;
}

.menu.active {
	padding-top: 120px;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(0, 0, 0);
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu{
	position: absolute;
	top: 0;
    left: 0;
	width: 470px;
	height: 1000px;
	background-color: white;
	transform: translateX(-100%);
	transition: transform 0.5s; 
 	z-index: 20;
}

.menu-solutions1 , .menu-service1 , .menu-industry1, .menu-options1 {
	position: absolute;
	top: 0;
	left: 940px;
	width: 470px;
	height: 1000px;
	background-color: white;
	transition: transform 0.5s; 
  	z-index: 10;
}

.menu-solutions2, .menu-solutions2-1, .menu-solutions2-3{
	position: absolute;
	top: 0;
	left: 940px;
	width: 470px;
	height: 1000px;
	background-color: white;
	transition: transform 0.5s; 
  	z-index: 10;
}

.hide_mobile_menu
{
	display: none;
}


.menu-solutions1 , .menu-service1 , .menu-industry1, .menu-options1 {
	position: absolute;
	top: 0;
	left: 470px;
	width: 470px;
	height: 1000px;
	background-color: white;
	transition: transform 0.5s; 
  	z-index: 10;
}

.menu.active {
	transform: translateX(0);
}


.menu_vision1{
	display: none;
}

.menu_vision2{
	display: none;
}

.menu_vision3{
	display: none;
}

.menu_vision4{
	display: none;
}

.menu_vision5{
	display: none;
}


.menu_vision_shiping{
	display: none;
}

.menu_vision_ground{
	display: none;
}

.menu_vision_air{
	display: none;
}

.shipping_menu , .ground_transportation{
	margin-bottom: 20px;
}


.menu_btn_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	gap: 20px;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 500;
	line-height: 29.26px;
	text-align: left;
    margin: 0 auto auto 134px;
}

.menu_btn_container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	gap: 20px;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 500;
	line-height: 29.26px;
	text-align: left;
	margin: 120px auto auto 0;
}

.menu_btn_container2 a {
	color: black;
	font-weight: 400;
}

.menu_btn_container button:focus {
	font-size: 24px;
	font-weight: 700;
	line-height: 29.26px;
}

.menu_btn_container2 button:focus {
	font-size: 24px;
	font-weight: 700;
}


.menu-btn.active span:first-of-type {
	transform: translateX(100%);
}

.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}


.mobile_selector_lang{
	display: none;
}

.hr__title_mobile{
	display: none;
}

.contacs_mobile{
	display: flex;
}

.header__phone_mobile{
	color: black;
	font-size: 24px;
}

.phone_img_mobile{
	margin-right: 10px;
}

.header__socials_mobile{
	display: flex;
	align-items: center;
	gap: 40px;

	margin-top: 40px;
}

.contacs_mobile{
	display: flex;
    flex-direction: column;
}

.info_card_mobile1
{
	display: none;
}

.info_card_mobile2
{
	display: none;
}

.info_card_mobile3 	{
	display: none;
}

.info_card_mobile4	{
	display: none;
}

.info_card_mobile5	{
	display: none;
}

.info_card_mobile6	{
	display: none;
}

.info_card_mobile7	{
	display: none;
}

.info_card_mobile8	{
	display: none;
}

.info_card_mobile9	{
	display: none;
}

.menu-solutions_mobile{
	display: none;	
}

.menu-service_mobile{
	display: none;
}

.menu-industry_mobile{
	display: none;
}

.menu-options_mobile{
	display: none;
}

.menu-news_mobile{
	display: none;
}

.menu-sotrudnik_mobile{
	display: none;
}

.menu-vacation_mobile{
	display: none;
}

.menu-faq_mobile{
	display: none;
}


.menu_mobile{
	display: none;
}


.contacs_mobile{
	display: none;
}

.menu-btn.active span:first-of-type {
	transform: translateX(100%);
}

.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}


.menu_vision_shiping_mobile{
	display: none;
}

.menu_vision_ground_mobile{
	display: none;
}

.menu_vision_air_mobile{
	display: none;
}

.shipping_menu-mobile{
	display: none;
}

.ground_transportation-mobile{
	display: none;
}

.air_transportation-mobile{
	display: none;
}

.info_button-mobile{
	display: none;
}

.info_vision_mobile{
	display: none;
}

.hide1{
	display: none;
}

.hide2{
	display: none;
}

.hide3{
	display: none;
}

.hide4{
	display: none;
}

@media screen and (max-width:1024px){
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 375px;
		height: 1000px;
		background-color: white;
		transform: translateX(-100%);
		transition: transform 0.5s;
		z-index: 15;
	}

}

@media screen and (max-width:425px){
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 15px;
        padding-top: 97px;
        padding-left: 23px;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 10;
		overflow-y: auto;
    }
}


@media screen and (max-width:425px){
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 15px;
        padding-top: 97px;
        padding-left: 23px;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 10;
		overflow-y: auto;
    }

	.form-group__lang_mobile{
		padding-left: 60px;
	}

	.dropdown__list__lang_mobile {
		display: none;
		position: absolute;
		left: 0;
		top: 45px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		background-color: white;
		overflow: hidden;
		border-radius: 10px;
		width: 150px;
		z-index: 5;
		left: -21px;
	}

	.menu_moba{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
	}


	.menu_btn_container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		font-family: 'Montserrat';
		font-size: 24px;
		font-weight: 500;
		line-height: 29.26px;
		text-align: left;
		margin: 10px auto auto 0;
	}

	.menu_btn_container2 {
		margin: 0 auto;
	}


    .mobile_selector_lang {
        display: block;
        z-index: 200;
        position: absolute;
        top: 24px;
        left: 241px;
    }

	.hr__title_mobile{
		display: block;
		margin-top: 40px;
		border: 1px solid #D9D9D9;
		width: auto;
		margin-bottom: 40px;
	}

	.menu-solutions{
		display: none;
	}

	.menu-service{
		display: none;
	}

	.menu-industry{
		display: none;
	}

	.menu-options{
		display: none;
	}

	.menu-news{
		display: none;
	}

	.menu-sotrudnik{
		display: none;
	}
	
	.menu-vacation{
		display: none;
	}

	.menu-faq{
		display: none;
	}


	.mobile_selector_lang{
		display: block;
	}
	
	.hr__title_mobile{
		display: block;
	}
	
	.contacs_mobile{
		display: flex;
	}
	
	.header__phone_mobile{
		color: black;
		font-size: 24px;
	}
	
	.phone_img_mobile{
		margin-right: 10px;
	}
	
	.header__socials_mobile{
		display: flex;
		align-items: center;
		gap: 40px;
	
		margin-top: 40px;
	}
	
	.contacs_mobile{
		display: flex;
		flex-direction: column;
	}
	
	.info_card_mobile1
	{
		display: block;
	}
	
	.info_card_mobile2
	{
		display: block;
	}
	
	.info_card_mobile3 	{
		display: block;
	}
	
	.info_card_mobile4	{
		display: block;
	}
	
	.info_card_mobile5	{
		display: block;
	}
	
	.info_card_mobile6	{
		display: block;
	}
	
	.info_card_mobile7	{
		display: block;
	}
	
	.info_card_mobile8	{
		display: block;
	}
	
	.info_card_mobile9	{
		display: block;
	}
	
	.menu-solutions_mobile{
		display: block;	
	}
	
	.menu-service_mobile{
		display: block;
	}
	
	.menu-industry_mobile{
		display: none;
	}
	
	.menu-options_mobile{
		display: none;
	}
	
	.menu-news_mobile{
		display: block;
	}
	
	.menu-sotrudnik_mobile{
		display: block;
	}
	
	.menu-vacation_mobile{
		display: block;
	}
	
	.menu-faq_mobile{
		display: block;
	}
	
	
	.menu_mobile{
		display: none;
	}
	
	
	.contacs_mobile{
		display: block;
	}

	.menu_btn_solution2{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
	}

	.menu_btn_container2 a{
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 500;
		line-height: 19.5px;
		text-align: left;

	}




}

@media screen and (max-width:375px){
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 375px;
        height: auto;
        padding: 15px;
        padding-top: 97px;
        padding-left: 23px;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 10;
		overflow-y: auto;
    }

	.form-group__lang_mobile{
		padding-left: 18px;
	}
	
	.dropdown__button__lang_mobile {
		left: -28px;
	}
}