.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background: $yellow;

    padding: 18px 85px;
    border-radius: 10px;

    transition: all 0.2s ease-in;

    span {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.38px;
    }
}

.btn:hover {
    background: #D1A01C;
}

.btn:active {
    background: #EBB82E;

    span {
        color: #FFDA78;
    }

    svg > path {
        transition: all 0.2s ease-in;
        fill: #FFDA78;
    }
}