@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Bebas Neue Cyrillic";
    src: url('./../fonts/bebasneuecyrillic.ttf');
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $white
}

.none {
    display: none !important;
}